* {
    margin: 0;
    padding: 0;
    font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.container {
    width: 600px;
    height: 700px;
    background-color: #222222;
    border: 10px solid #828282;
    border-radius: 50px;
    margin: 100px auto;
}

.clock {
    font-size: 30px;
    text-align: end;
    margin: 50px 48px 0 0;
}

.img-dispslay {
    background-image: url(../assets/img/entryWatch.png);
    width: 472px;
    height: 472px;
    background-repeat: no-repeat;
    margin: 20px auto;
}

.container-date {
    display: flex;
    justify-content: center;
}

.text,
.year {
    font-size: 20px;
}

.line {
    width: 230px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 1px;
    margin: 15px auto 40px;
}